.App {
  text-align: center;
}

.entriesTable {
  width: 100%;
  border-spacing: 0px;
}

.entriesTable th {
  background-color: lightgray;
  z-index: 666;
  top: 0px;
  position: sticky;
  border-spacing: 0px;
  border-bottom: 1px solid #000;
}

.entriesTable td {
  padding: 2px;
  vertical-align: top;
}

.entriesTable th:nth-child(even) {
  border-left: none;
}

.entriesTable td:nth-child(even) {
  border-left: 10px solid #0000;
}

.grip {
  width: 10px;
  margin-left: 5px;
  position: fixed;
  height: 100vh;
  background-color: #0000;
  cursor: col-resize;
}

.placeholder {
  background-color: lightgray;
}

.resolutionElement {
  background-color: lightblue;
}
.issueElement {
  background-color: lightgray;
}

.entriesTable h5 {
  display: none;
}

@media (max-width: 600px) {
  .entriesTable thead {
    display: none;
  }

  .entriesTable h5 {
    display: block;
    margin: 0;
  }

  .entriesTable tbody tr {
    display: grid;
    padding: 5px;
    border: 1px solid #000;
  }

  .entriesTable td:nth-child(even) {
    border-left: 0px;
  }

  .entriesTable tbody td {
    display: table-row;
  }
}
